.fav-container {
  width: 250px;
  background: blue;
  height: 90vh;
  padding: 20px;
  margin: 50px 0 20px 20px;
  border-radius: 6px;
  padding: 20px;
  background-color: rgb(29, 28, 28);
  color: rgb(228, 220, 220);
  position: fixed;
  top: 0;
  left: 0;
}

.fav-item {
  font-size: 20px;
}

.fav-title {
  margin-bottom: 10px;
}

.divider {
  margin-bottom: 20px;
}

.title-container {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-between;
}

.delete {
  width: 35px;
  height: 35px;
  font-size: 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(228, 220, 220);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.delete:hover {
  background-color: rgba(155, 155, 155, 0.219);
}

.fav-item-cont {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: 20px;
  margin-bottom: 5px;
}
.fav-item-cont .delete {
  display: none;
  transition: display 0.5s;
}

.fav-item-cont:hover .delete {
  display: flex;
}
